@import './base.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
  font-size: 0.9rem;
  color: #fff;
  background-color: var(--color-primary);
}

.btn:hover {
  border-color: var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.loginBtn {
  border-color: var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.loginBtn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}
