.home {
  padding: 40px;
  display: flex;
  gap: 40px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.home aside {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.signup__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--color-border);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.signup__block h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-heading);
}

.home main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home main h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-heading);
}
