.navigation {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.navigation h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--color-heading);
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.navigation ul li {
  display: flex;
  width: 100%;
}

.navigation ul li a {
  padding: 5px 10px;
  display: flex;
  gap: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  width: 100% !important;
  background-color: var(--color-border);
}

.navigation ul li a:hover {
  color: white;
  background-color: var(--color-primary);
}
